<div class="ion-page" id="main-content">
  <app-header pageName="Registration"></app-header>
  <ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center"> Registrate </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="formularioActualizarUsuario" (ngSubmit)="updateUser()">
          <ion-input
            label="Nombre de usuario"
            labelPlacement="floating"
            formControlName="username"
          ></ion-input>

          <ion-input
            label="Correo Electronico"
            labelPlacement="floating"
            formControlName="email"
            [disabled]="true"
          ></ion-input>

          <input id="uploadBtn" type="file" class="upload" (change)="uploadFile($event.target)">

          <div class="ion-text-center ion-margin-top">
            <ion-button type="submit">Registrate</ion-button>
          </div>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-content>
</div>

