<div class="ion-page" id="main-content">
  <app-header pageName="Home"></app-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button="true" id="gasStationItem" *ngFor="let gasStation of displayedGasStations" (click)="openGasStation(gasStation)">
        <ion-title>
          {{ truncateText(gasStation.name, 15) }}
        </ion-title>
        <ion-text [ngClass]="{'truncate-text': isSmallScreen}">
          {{gasStation.address + '. ' + gasStation.municipality + ', ' + gasStation.zip}}
        </ion-text>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="loadMore()"><strong>Cargar más</strong></ion-button>
  </ion-content>
</div>
