<div class="ion-page" id="main-content">
  <app-header pageName="Home"></app-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item button="true" id="gasStationItem" *ngFor="let gasStation of displayedGasStations" (click)="openGasStation(gasStation)">
        <ion-title>
          {{gasStation.name}}
        </ion-title>
        <ion-text>
          {{ truncateText(gasStation.address + '. ' + gasStation.municipality + ', ' + gasStation.zip, 30) }}
        </ion-text>
      </ion-item>
    </ion-list>
    <ion-button expand="block" (click)="loadMore()">Cargar más</ion-button>
  </ion-content>
</div>
