
#contenidoSideMenu{
  display: flex;
  justify-content: space-between;
}
.side-menu-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.fill-space {
  flex: 1;
}

.side-menu-image-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
}
.logout-button{
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.side-menu-image {
  width: 30%;
  height: auto;
  border-radius: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ion-text-center{
  align-items: center;
}
.sidebar-option {
  align-items: center;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
}

.sidebar-option:hover {
  background-color: #f5f5f5;
}

.sidebar-option.active {
  background-color: #e0e0e0;
}

#ion-photo-user {
  display: flex;
  flex-direction: column-reverse;
}
