<ion-menu side="start" menuId="first" contentId="mainContent">
  <ion-header>
    <ion-toolbar color="primary" class="ion-padding-left ion-padding-top ion-padding-bottom">
      <ion-title *ngIf="this.currentUser === undefined">Menu Principal</ion-title>
      <ion-title *ngIf="this.currentUser !== undefined">Bienvenido</ion-title>
      <ion-title *ngIf="this.currentUser !== undefined">{{this.currentUser.username}}</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="contenidoSideMenu">

    <ion-list *ngIf="this.currentUser!==undefined" class="ion-text-center">
      <ion-item>
        <ion-img src="{{photo}}" height="519" width="516" class="ion-border-radius" ></ion-img>
      </ion-item>
      <ion-item class="ion-text-center">
        <ion-button (click)="logout()">
          LogOut
        </ion-button>
      </ion-item>
    </ion-list>


    <ion-item class="ion-text-center" *ngIf="this.currentUser===undefined">
      <ion-button (click)="goToPage('/login')">
        Login
      </ion-button>
    </ion-item>
  </ion-content>
</ion-menu>
