<ion-menu side="start" menuId="first" contentId="mainContent">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="contenidoSideMenu" class="side-menu-content">
    <ion-list class="ion-padding">
      <ion-item *ngFor="let link of links" (click)="goToPage(link.url)">
        {{link.name}}
      </ion-item>
    </ion-list>

    <ion-list *ngIf="this.currentUser===undefined" class="ion-text-center">

      <ion-button (click)="goToPage('/login')">
        <strong>Login</strong>
      </ion-button>
    </ion-list>

    <div class="fill-space"></div>

  </ion-content>

  <ion-list *ngIf="this.currentUser!==undefined" class="ion-text-center" id="ion-photo-user">
      <ion-button (click)="logout()" class="logout-button">
        <strong>LogOut</strong>
      </ion-button>
    <div class="side-menu-image-container">
      <ion-img id="myImage" src="{{photo}}" class="ion-border-radius side-menu-image"></ion-img>
    </div>
  </ion-list>

</ion-menu>
